<div id="about_form">
  <div class="about-detail" id="about-detail">
    <p>DonateIT is a site that enables lazy people to donate to charities. Ideally, charities would use this website to see donors, and make appointment to arrange pickups for donations.</p>
    <p>Currently all donors can access the site, and add items that they want to donate. Additionally, all charities can access see a map view of all donors and items that they'd like to donate, and schedule an appointment.</p>
  </div>
</div>
