<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Add your Donation</legend>

<!-- Text input-->
<div class="form-group" id="donation_form">
  <label class="col-md-4 control-label" for="Donor Name">Donor Name</label>
  <div class="col-md-5">
  <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Address ">Address</label>
  <div class="col-md-5">
  <input id="pickup_address" name="pickup_address" type="text" placeholder="Address" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">email</label>
  <div class="col-md-5">
  <input id="email" name="email" type="text" placeholder="email" class="form-control input-md">

  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="category">Select Basic</label>
  <div class="col-md-5">
    <select id="category" name="category" class="form-control">
      <option value="Categories">Categories</option>
      <option value="clothing - jacket/coat">clothing - jacket/coat</option>
      <option value="clothing - dress">clothing - dress</option>
      <option value="clothing - jeans">clothing - jeans</option>
      <option value="clothing - shirt/blouse">clothing - shirt/blouse</option>
      <option value="clothing - shoes">clothing - shoes</option>
      <option value="clothing - suit">clothing - suit</option>
      <option value="clothing - sweater">clothing - sweater</option>
      <option value="clothing - purse">clothing - purse</option>
      <option value="household - bike">household - bike</option>
      <option value="household - book">household - book</option>
      <option value="household - chair">household - chair</option>
      <option value="household - lamp">household - lamp</option>
      <option value="household - pot or pan">household - pot or pan</option>
      <option value="electronics - dvd/cd">electronics - dvd/cd</option>
      <option value="electronics - video game">electronics - video game</option>
      <option value="electronics - computer">electronics - computer</option>
      <option value="electronics - tv">electronics - tv</option>
      <option value="electronics - cell phone">electronics - cell phone</option>
    </select>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="item_description">Description</label>
  <div class="col-md-4">
    <textarea class="form-control" id="item_description" name="item_description"></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton">Add Donations</label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Add Donations</button>
  </div>
</div>

</fieldset>
</form>
