<div class="container nav">
  <div class="page-scroll">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" id="logo">DonateIT</a>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav navbar-right">
         <li class="hidden">
           <a href="#page-top"></a>
         </li>
         <li class="menu_item">
           <a class="page-scroll" href="alldonations">See Available Donations </a>
         </li>
         <li class="menu_item">
           <a class="page-scroll" id="addonations"> Add donations</a>
         </li>
    </ul>
  </div>
</div>
