<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DonateIT</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Pacifico|Aclonica' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <%- include ./_nav %>
      <div id="donation_form">
      <%- include ./_form %>
      </div>
    </div>
    <!-- Google Map -->
    <div class="googlemap" id="map">
    </div>
    <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" charset="utf-8">></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnhICVT0NY-obKDNIMzhnp-E6oMpcTdHw&libraries=places&callback=initMap"
      async defer></script>
    <script src="js/initmap.js"></script>
    <script src="js/index.js"></script>

  </body>
</html>
