html, body {
      height: 100%;
      background-color: #021019;
      margin: 0;
      padding: 0;
    }

    #map {
      height: 100%;
    }
#donation_form {
  background-color: transparent;
  padding: 2em;
  display: none;
  z-index: 20;
  width: 50em;
  position: fixed;
  padding: 2em;
  margin-left: -350px;
}

#logo {
  font-size: 40px;
  color: orange;
  font-family: Aclonica;
}

.menu_item a{
  font-size: 20px;
  text-decoration: none;
  color: orange;
  font-family: Aclonica;
}

.nav{

}

.form-horizontal{
  color:white;
  font-size: 1em;
}

#singlebutton {
  color:white;
  font-size: 0.5em;
  font-weight: bold;
}

#map{
}
