html, body {
      height: 100%;
      background-color: #021019;
      margin: 0;
      padding: 0;
    }

    #map {
      height: 100%;
    }
#donation_form {
  background-color: transparent;
  padding: 2em;
  display: none;
}

#logo {
  font-size: 36px;
  color: orange;
  font-family: Aclonica;
}

.menu_item {
  font-size: 20px;
  text-decoration: none;
  color: orange;
  font-family: Aclonica;
}
